* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 0%) !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    color: hsl(0, 0%, 100%) !important;
}

:root {
    --primary: hsl(13, 85%, 52%);
    --secondary: hsl(0, 78%, 50%);
    --intermediate: rgb(0, 149, 35);
}